{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <title>Register</title>
<link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
</head>
<body>
<style>
body {
    font-family: 'Josefin Sans';font-size: 22px;
	
}
body {
      background-image: url(http://1.bp.blogspot.com/-9F3hMX0mcVM/Vcoj6L8EicI/AAAAAAAAPCE/XrIfzYYCkLc/s1600/IMG_7588.jpg);
      background-size: cover;
      background-repeat: no-repeat
	  }
</style>
<div id="main_container">
        <header class="transparent">
            <div id="logo">
                <img src="{{ MEDIA_URL }}logo.svg" width=100% />
            </div>
            <div id="top_nav1">
                <ul><li id="language"> 
                <select name="language">
                            <option value="English">English</option>
                            <option value="Korean">Korean</option>
                            <option value="Japanese">Japanese</option>
                            <option value="Chinese">Chinese</option>
                </select>
			</div>
		</header>
	</div>
	<div id="register">
		<h1>Join to see more!</h1>
		<form method="post">
		  {% csrf_token %}
		  {% for field in form %}
			<p>
			  {{ field.label_tag }}
			  {{ field }}
			  {% if field.help_text %}
				<small style="color: grey">{{ field.help_text }}</small>
			  {% endif %}
			  {% for error in field.errors %}
				<p style="color: red">{{ error }}</p>
			  {% endfor %}
			</p>
		  {% endfor %}
		  <button type="submit">Sign up</button>
		</form>
	</div>
