<head>
<title>City Smart Guys</title>
</head>
<body>

<style>
body {
	background-image: url(http://1.bp.blogspot.com/-9F3hMX0mcVM/Vcoj6L8EicI/AAAAAAAAPCE/XrIfzYYCkLc/s1600/IMG_7588.jpg);
	background-size: cover;
	background-repeat: no-repeat
}
</style>

<center><h1>Brisbane</h1>
<ul>
{% for cities in cities_all %}
<li>{{ cities.title }}</li>
{% endfor %}
</ul>
<form action='/accounts/auth/' method='POST'> {% csrf_token %}
    <div >
        <label for='username'> Username </label>
        <input type='text' name='Username' id='username'>
        <label for='password'>Password </label>
        <input type='password' name='Password' id='password'>
        <input type='submit' value='login'>
    </div>
</form>
</body>
<a href="{% url 'register' %}"> New user?</a>
<a href="{% url 'administratorPage' %}"> Go To Adminstrator</a>
