{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <title>Register</title>
<link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
</head>
<body>
<style>
body {
    font-family: 'Josefin Sans';font-size: 22px;
}
</style>
<div id="main_container">
        <header class="transparent">
            <div id="logo">
                <img src="{{ MEDIA_URL }}logo.svg" width=100% />
            </div>
            <div id="top_nav1">
                <ul><li id="language">
                <select name="language">
                            <option value="English">English</option>
                            <option value="Korean">Korean</option>
                            <option value="Japanese">Japanese</option>
                            <option value="Chinese">Chinese</option>
                </select>
			</div>
		</header>
	
	<div id="register">
        <h1 style="padding: 0 70px;">Join to see more!</h1>
        <form class='forms' method="POST">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    {{ field.label_tag }}
                    {{ field }}
                </p>
            {% endfor %}
            <label for="Type">User Type:</label>
                    <select name="Type" id="UserType">
                        {% for type in types %}
                            <option value=''>{{type.type_desc}}</option>
                        {% endfor %}
                    </select>
			<br>
            <button class="profile_buttons" type="submit">Sign up</button>
			</form>
			<form method="post" action = '{% url "login" %}'>
			{% csrf_token %}
			<button class = "profile_buttons1" <a  href="{% url 'login' %}" > Go to Login</a></button>
		</form>
			</br>
		<button>
		<font color="black">
		<font size="3">
		<li>Your password can't be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can't be a commonly used password.</li><li>Your password can't be entirely numeric.</li>
		</button>
			
		
     
	</div></div>
